
<div *ngIf="show">
<div id=productsidebar>
  <div class="container">
      <button type="submit" (click)="addProductbut()">add new product</button>
    <form  novalidate
    
        #f="ngForm"
        id='uploadForm' 
        
      method='post' 
      enctype="multipart/form-data">
      
      
      <div class=inputsize class="form-group row" [ngClass]="{
        'has-warning': productname.invalid && (productname.dirty || productname.touched),
        'has-success': productname.valid && (productname.dirty || productname.touched)
   }">
        <label for="inputStreet" class="col-sm-2 col-form-label">product name</label>
        <div class="col-sm-4 col-md-3 col-lg-3">
          <input type="text" #productname="ngModel"  [(ngModel)]="newproduct.productname" required name="productname" class="form-control" id="inputStreet" placeholder="product name">
        </div>
      </div>
      
      <div class="form-group row" [ngClass]="{
        'has-warning': productprice.invalid && (productprice.dirty || productprice.touched),
        'has-success': productprice.valid && (productprice.dirty || productprice.touched)
   }">
        <label for="inputPassword3" class="col-sm-2 col-form-label">product price</label>
        <div class="col-sm-4 col-md-3 col-lg-3">
          <input type="number" #productprice="ngModel" [(ngModel)]="newproduct.price" name="productprice" required class="form-control" id="creditcard" placeholder="product price">
        </div>
      </div>
      <div class="form-group row" >
        <label for="inputPassword3" class="col-sm-2 col-form-label">product picture</label>
        <div class="col-sm-4 col-md-3 col-lg-3" >
          <input  type="file" (change)="handleFileInput($event.target.files)" #productimg  name="productimg" ng-required='!notrequiered' class="form-control" id="creditcard" placeholder="product picture">
        <span id="filevalidate">{{fileinvalid}}</span>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{
        'has-warning': categoryId.invalid && (categoryId.dirty || categoryId.touched),
        'has-success': categoryId.valid && (categoryId.dirty || categoryId.touched)
   }">
        <label for="inputPassword3" class="col-sm-2 col-form-label">product category</label>
        <div class="col-sm-4 col-md-3 col-lg-3">
          <input type="number" #categoryId="ngModel" [(ngModel)]="newproduct.categoryId" name="productcategory" required class="form-control" id="creditcard" placeholder="product category">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{
        'has-warning': measure.invalid && (measure.dirty || measure.touched),
        'has-success': measure.valid && (measure.dirty || measure.touched)
   }">
        <label for="inputPassword3" class="col-sm-2 col-form-label">measure</label>
        <div class="col-sm-4 col-md-3 col-lg-3">
          <input type="text" #measure="ngModel" [(ngModel)]="newproduct.measure" name="measure" required class="form-control" id="measure" placeholder="measure">
        </div>
      </div>
      
      
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button *ngIf="editing" type="submit" (click)="updateProduct()" [disabled]="f.invalid" class="btn btn-primary">update</button>
          <button *ngIf="adding" type="submit" (click)="addProduct()" [disabled]="f.invalid||!fileToUpload" class="btn btn-primary">add</button>
          
        </div>
       
      </div>
    </form>
  </div>
</div>
<div id="productsForAdmindiv"><app-admin-products (editing)="onEditing($event)"></app-admin-products></div>
</div>


