table{
    margin-top: 20px;
    width:100%;
    
  }
  table ,tr ,th ,td{
    
    border: 1px solid #CCC;
  }
  #cartlist{
      width:100%;
      height:500px;
      border:2px solid brown;
  }
  .insearch{
      background-color: yellowgreen;
  }
  #orderdetails{
      margin-top: 26px;
      padding-top: 50px;
      float: left;
      width:50%;
      height:500px;
    border :2px solid black;
    text-align: left;
  }
  #reciepe{
      width:50%;
    float: left;
    overflow-y: auto;
    overflow-x: auto;
  }
  #backtocart{
      float: right;
  }
  app-orderdetails{
    text-align: left;
  }
  