<div id=orderdetailform>
    <div class="container-fluid">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4  col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
  <form  novalidate
      
      #f="ngForm">
    <div class="form-group row">
      <label for="citySelect" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10  col-md-3 col-lg-2">
        <select class="form-control" [(ngModel)]="orderDetails.cityId"  required name="city" class="custom-select" id=citySelect>
          <option  value=3000>Jerusalem</option>
          <option value="3000">Jerusalem</option>
          <option  value="5000" >Tel Aviv</option>
          <option value="4000">Haifa</option>
          <option value="9000">Beer Sheva</option>
          <option value=70>Ashdod</option>
          <option  value="7900" >Petach-Tikva</option>
          <option value="8300">Rishon-Letzion</option>
          <option value="8600">Ramat-Gan</option>
          <option value=6600>holon</option>
          <option  value="3570" >Ariel</option>
          <option value="2600">Eilat</option>
          <option value="9300">zichron- Yaakov</option>
        </select>
      </div>
    </div>
    <div (dblclick)="getStreet()" class="form-group " [ngClass]="{
      'has-warning': street.invalid && (street.dirty || street.touched),
      'has-success': street.valid && (street.dirty || street.touched)
 }">
      <label for="inputStreet" >street</label>
      <div >
        <input type="text" #street="ngModel"  [(ngModel)]="orderDetails.street" required name="street" class="form-control" id="inputStreet" placeholder="Street">
      </div>
    </div>
    <div class="form-group " [class.has-warning]="pastdate==false" [class.has-success]="pastdate==true" [ngClass]="{
      'has-warning': orderDate.invalid && (orderDate.dirty || orderDate.touched),
      'has-success': orderDate.valid && (orderDate.dirty || orderDate.touched)
 }">
      <label for="inputName" >shipping date</label>
      <div >
        <input type="date" #orderDate="ngModel" [(ngModel)]="orderDetails.orderDate" (ngModelChange)="valiDate(orderDetails.orderDate)" name="shippingdate" required class="form-control" id="shippingdate">
        
        <span *ngIf="pastdate==false" >Please choose today or a future date</span>
      </div>
    </div>
    
    <div class="form-group " [ngClass]="{
      'has-warning': creditCard.invalid && (creditCard.dirty || creditCard.touched),
      'has-success': creditCard.valid && (creditCard.dirty || creditCard.touched)
 }">
      <label for="inputPassword3" >credit card number</label>
      <div  >
        <input type="number" #creditCard="ngModel" [(ngModel)]="orderDetails.creditCard" name="creditcard" required class="form-control" id="creditcard" placeholder="creditcard">
      </div>
    </div>
    
    
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" (click)="setOrder()" [disabled]="f.invalid||!orderDetails.orderDate||!pastdate" class="btn btn-primary">order</button><br>
        <button  *ngIf="receipt" routerLink="/receipt" type="submit"  class="btn btn-primary">order</button>
      </div>
      {{datefullerr}}
    </div>
  </form>
</div>
</div>
</div>

