<div id="products" class="tab">
  <div id=categories>
    <span *ngFor="let category of categories" 
    [class.selectedcategory]="category === selectedcategory"
     (click)="onSelect(category)" >
      {{category.name}}|   
    </span>
    
  </div>
 
  <div id=productsincategory>
     <div  *ngFor="let product of productsInCategory">
       <div id=productsdisplay>
       <span id=product  (click)="editProduct(product)"><span>{{product.productname}}</span><br>
       price:<span>{{product.price| currency:'ILS':"symbol-narrow"}}</span><br>per:{{product.measure}}</span>
       <img class=productimage src="{{product.imageUrl}}">
     </div>
     </div>
  </div>
  </div>
