<div>
<div *ngIf="showbutton" id=reciepe>
  <h2 id=receipttitle>Congratulations</h2>
  <p>Your purchase has been completed successfully.</p>
  <p>We thankyou for choosing to shop at our shop.</p>
  <p>Have a blessed day and please come again.</p>
  <p>You may watch the receipt by clicking the button below.</p>
  <button  (click)="watchReceipt()">watch receipt</button>
  </div>
  <div *ngIf="!showbutton" id=cartlist>
  <table >
    <tr>  
        
        <th>quantity</th>
        <th>product</th>
        <th>price </th>
        <th>sum</th>
    </tr>
  <tr *ngFor="let cartproduct of cartproducts">
  
    <td>{{cartproduct.quantity}}</td>
      <td [class.insearch]="cartproduct.productname.includes(searchincartst)&&searchincartst!=''" >{{cartproduct.productname}}</td>
      <td>{{cartproduct.price| currency:'ILS':"symbol-narrow"}} per:{{cartproduct.measure}}</td>
      <td>{{cartproduct.price*cartproduct.quantity| currency:'ILS':"symbol-narrow"}}</td>
  </tr>
  </table>
  </div>
  <div >
    <h3 *ngIf="total>0" id=totalpricerec>Total price:{{total| currency:'ILS':"symbol-narrow"}}</h3>
    </div>
  </div>
    