table{
    margin-top: 20px;
    width:100%;
    
  }
  table ,tr ,th ,td{
    
    border: 1px solid #CCC;
  }
  #cartlist{
      position:relative;
      margin: 0 auto;
      width:50%;
      min-height:200px;
      border:2px solid brown;
  }
  .insearch{
      background-color: yellowgreen;
  }
  #orderdetails{
      margin-top: 26px;
      float: left;
      width:50%;
      height:400px;
    border :2px solid black;
    text-align: center;
  }
  #reciepe{
      height:300px;
      margin: 0 auto;
      width:50%;
      border:2px solid  aqua;
      background-color: antiquewhite;
    text-align: center;
  }
  #receipttitle{
      color: red;
  }
  #totalpricerec{
        position: absolute;;
        bottom:0px;
        right:0px;
    }