<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class=logo alt="Brand" src="/assets/images/supermarketlogo.jpg">
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <form  novalidate
      
      #f="ngForm">
    <div class="form-group row">
      <label for="citySelect" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="regDetails.city"  required name="city" class="custom-select" id=citySelect>
          <option value=0>choose a city</option>
          <option  value="1" >One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{
      'has-warning': street.invalid && (street.dirty || street.touched),
      'has-success': street.valid && (street.dirty || street.touched)
 }">
      <label for="inputStreet" class="col-sm-2 col-form-label">street</label>
      <div class="col-sm-10">
        <input type="text" #street="ngModel" [(ngModel)]="regDetails.street" required name="street" class="form-control" id="inputStreet" placeholder="Street">
      </div>
    </div>
    <div class="form-group row" [ngClass]="{
      'has-warning': name.invalid && (name.dirty || name.touched),
      'has-success': name.valid && (name.dirty || name.touched)
 }">
      <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" #name="ngModel" [(ngModel)]="regDetails.firstName" name="firstName" required class="form-control" id="inputName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row" [ngClass]="{
      'has-warning': lastname.invalid && (lastname.dirty || lastname.touched),
      'has-success': lastname.valid && (lastname.dirty || lastname.touched)
 }">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" #lastname="ngModel" [(ngModel)]="regDetails.lastName" name="lastName" required class="form-control" id="inputPassword3" placeholder="Last Name">
      </div>
    </div>
    
    
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit"  [disabled]="f.invalid" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div> -->

