
  <div id="content">
    
    <div id="cart" class="tab">
        <div style="overflow: auto;">
      <button [class.startshopping]="startedcart==false" (click)="startcart()">
        start shopping
      </button>
      <button [class.continueshopping]="continuedcart==false" (click)="continuecart()">
        continue shopping
      </button>
      <!-- <div *ngFor="let cartproduct of cartproducts">
        <span id=cartproduct >{{cartproduct.quantity}}   {{cartproduct.productname}}   {{cartproduct.price}}</span>
      </div> -->
      <table *ngIf="allowshopping">
          <tr>  
              <th ></th>
              <th>quantity</th>
              <th>product</th>
              <th>price </th>
              <th>sum</th>
          </tr>
        <tr *ngFor="let cartproduct of cartproducts">
            <td style="color:red;cursor: pointer;display: block;" (click)="deleteProduct(cartproduct)">x</td>
          <td>{{cartproduct.quantity}}</td>
            <td>{{cartproduct.productname}}</td>
            <td>{{cartproduct.price}} per:{{cartproduct.measure}}</td>
            <td>{{cartproduct.price*cartproduct.quantity}}</td>
        </tr>
    </table>
  </div>
  <button *ngIf="total>0" id=order routerLink="/cartOrder">order</button>
  <div >
    <h3 *ngIf="total>0" id=totalprice>totalprice:{{total}}</h3>
    </div>
  </div>
    <div id="products" class="tab">
     <div id=categories>
       <span *ngFor="let category of categories" 
       [class.selectedcategory]="category === selectedcategory"
        (click)="onSelect(category)" >
         {{category.name}}|   
       </span>
       
     </div>
     <div id=productsincategory>
        <div  *ngFor="let product of productsInCategory">
          <div id=productsdisplay>
          <span id=product  (click)="checkForQuantity(product)"><span>{{product.productname}}</span><br>
          price:<span>{{product.price}}</span><br>per:{{product.measure}}</span>
        </div>
        </div>
     </div>
      <!-- <span *ngFor="let product of products" 
            [class.selectedproduct]="category === selectedcategory"
              (click)="onSelect(product)">
              
      </span>    -->

    </div>
    
  </div>
  
  <!-- <ol>
    <li>
      
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()" [disabled] = "first">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->